{% load currency_filters %}

<div class="kt-portlet ">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">{{ organization.display_name }}<small> organization detail</small></h3>
            
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-actions">
                <a href="{% url 'books:organization-edit' organization.pk %}" class="btn btn-default btn-sm btn-bold" role="button">Edit</a>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body ">
        <div class="kt-widget-2">
            <div class="kt-widget-2__content ">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6 col-6">
                        <div class="kt-widget-2__item m-0">
                            <div class="kt-widget-2__item-title">
                                Turnover
                            </div>
                            <div class="kt-widget-2__item-stats">
                                <div class="kt-widget-2__item-info">
                                    <div class="kt-widget-2__item-text">
                                        {{ organization.turnover_excl_tax|currency|default:"-" }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-6">
                        <div class="kt-widget-2__item m-0">
                            <div class="kt-widget-2__item-title">
                                Profits
                            </div>
                            <div class="kt-widget-2__item-stats">
                                <div class="kt-widget-2__item-info">
                                    <div class="kt-widget-2__item-text">
                                        {{ organization.profits|currency|default:"-" }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-6">
                        <div class="kt-widget-2__item m-0">
                            <div class="kt-widget-2__item-title">
                                Tax Provisionning
                            </div>
                            <div class="kt-widget-2__item-stats">
                                <div class="kt-widget-2__item-info">
                                    <div class="kt-widget-2__item-text">
                                        {{ organization.tax_provisionning|currency|default:0 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-6">
                        <div class="kt-widget-2__item m-0">
                            <div class="kt-widget-2__item-title">
                                Due payments
                            </div>
                            <div class="kt-widget-2__item-stats">
                                <div class="kt-widget-2__item-info">
                                    <div class="kt-widget-2__item-text">
                                        {{ organization.overdue_total|currency|default:0 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>