{% load currency_filters status_filters %}

<table class="table table-striped">
  <thead>
    <tr class="row">
      {% if detailed %}
      <th scope="col" class="col-sm-1">#</th>
      <th scope="col" class="col-sm-2">Client</th>
      <th scope="col" class="col-sm-3">Description</th>
      <th scope="col" class="col-sm-2">Total</th>
      <th scope="col" class="text-right col-sm-4">Actions</th>
      {% else %}
      <th scope="col" class="col-sm-1">#</th>
      <th scope="col" class="col-sm-3">Client</th>
      <th scope="col" class="col-sm-3">Total</th>
      <th scope="col" class="text-right col-sm-5">Actions</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for sale in sales %}
    <tr class="row {{ sale|status_to_css_classname }}">
      {% if detailed %}
      <td class="col-sm-1">{{ sale.number }}</td>
      <td class="col-sm-2">{{ sale.client }}</td>
      <td class="col-sm-3">{{ sale.description }}</td>
      <td class="col-sm-2">{{ sale.total_excl_tax|currency }}</td>
      <td class="text-right col-sm-4">
        <a href="{{ sale.get_detail_url }}" class="btn btn-success btn-sm" role="button">View</a>
        {% if not hide_edit %}
        <a href="{{ sale.get_edit_url }}" class="btn btn-primary btn-sm" role="button">Edit</a>
        {% endif %}
      </td>
      {% else %}
      <td class="col-sm-1">{{ sale.number }}</td>
      <td class="col-sm-3">{{ sale.client }}</td>
      <td class="col-sm-3">{{ sale.total_excl_tax|currency }}</td>
      <td class="text-right col-sm-5">
        <a href="{{ sale.get_detail_url }}" class="btn btn-success btn-sm" role="button">View</a>
        {% if not hide_edit %}
        <a href="{{ sale.get_edit_url }}" class="btn btn-primary btn-sm" role="button">Edit</a>
        {% endif %}
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
