{% load currency_filters format_filters %}

<div class="card">
  <div class="card-header">
    <h3 class="card-title">Invoice</h3>
  </div>
  <div class="card-body">
    <div class="d-flex flex-column">
      <div class="d-flex flex-column flex-sm-row justify-content-between">
        <div class="p-2">
          <div class="card">
            <div class="card-body">
              {% with client=object.from_client %}
              <h4 class="card-title">From: <a href="{{ client.get_absolute_url }}">{{ client }}</a></h4>
              <address>
                {{ client.address.full_address|linebreaksbr }}<br>
              </address>
              {% endwith %}
            </div> 
          </div>
        </div>
        <div class="p-2">
          <div class="card">
            <div class="card-body">
              {% with client=object.to_client %}
              <h4 class="card-title">To: <a href="{{ client.get_absolute_url }}">{{ client }}</a></h4>
              <address>
                {{ client.address.full_address|linebreaksbr }}<br>
              </address>
              {% endwith %}
            </div>
          </div>
        </div>
      </div>
      <div>
        {% include "accounting/books/include/sale_lines.html" with lines=lines %}
        {% include "accounting/books/include/sale_contributions.html" with lines=contributions %}
      </div>
    </div>
  </div>
  <div class="card-footer">
    <dl class="row m-0 justify-content-end text-right">
      <dt class="col-auto">Sub Total:</dt>
      <dd class="col-3 col-xl-2">{{object.total_excl_tax|currency }}</dd>
    </dl>
    <dl class="row m-0 justify-content-end text-right">
      <dt class="col-auto">Tax:</dt>
      <dd class="col-3 col-xl-2">{{object.total_tax|currency }}</dd>
    </dl>
    <dl class="row m-0 justify-content-end text-right">
      <dt class="col-auto">Total:</dt>
      <dd class="col-3 col-xl-2">{{object.total_incl_tax|currency }}</dd>
    </dl>
  </div>
</div>



