# dev.txt
-r requirements.txt

pytest>=5.3.5
pytest-django>=3.8.0
django-dynamic-fixture>=3.0.2

#The following are dependecies set from the original...
#So far we do not have used to run tests, but still we got problem.
#Things must be investigated

#WebTest>=2.0.33
#django-webtest>=1.9.4
#django-nose>=1.4.6
#nose>=1.3.7

##Testing with eclipse
# git+https://github.com/jenniferlianne/django_nose_adapter.git

#flake8>=3.7.7

#ipython>=7.3.0
#ipdb>=0.11
#ipdbplugin>=1.5.0

#coverage>=4.5.2
#coveralls>=1.6.0



