{% extends 'kt/portlet.html' %}
{% load currency_filters %}

{% block kt-portlet__head %}
{% include 'kt/portlet__head.html' with title='books/organization/portlet/select__head/title.html' toolbar=False%}
{% endblock kt-portlet__head %}

{% block kt-portlet__body %}
    {% include 'kt/portlet__body.html' with portlet__content='books/organization/portlet/select__content.html' %}
{% endblock %}

{% block kt-portlet__foot %}
    {% include 'books/organization/portlet/select__foot.html' with small=True %}
{% endblock %}