{% extends 'kt/portlet_base.html' %}

{% block kt-portlet.div %}
    {% with portlet__foot=False %}
        {{block.super}}
    {% endwith %}
{% endblock kt-portlet.div %}

{% block kt-portlet__head-title.div %}
     Organizations<small>where you work</small>
{% endblock %}

{% block kt-portlet__head-group.div %}
    <a href="{% url 'books:organization-create' %}" class="btn btn-brand btn-sm btn-elevate" role="button">
        <i class="fa fa-dollar-sign"></i>Add an organization
    </a>
{% endblock %}

{% block kt-portlet__body.class %}kt-portlet__body--fit{% endblock %}

{% block kt-portlet__content.div %}
    {% include "books/organization/table/base.html" with organizations=organizations %}
{% endblock %}

