{% extends "dkt/_layout.html" %}

{% load static %}
{% load sekizai_tags %}

{% block content %}

{% addtoblock "body-scripts-page_scripts" %}
{{ form.media }}
{% endaddtoblock %}

<div class="row">
    <div class="col-xl-8">
		{% include "books/_sale/card/detail.html" with object=object extra_suffix='number: ' extra=object.number %}
    </div>
    <div class="col-xl-4">
        <div class="row">
            {% if checklist %}
            <div class="col-12">
		        {% include "books/_sale/checks/portlet/list.html" with checklist=checklist %}
            </div>
            {% endif %}
            <div class="col-12">
                {% include "books/_sale/portlet/details.html" with object=object %}
            </div>
        </div>
    </div>
    {% if payment_form %}
    <div class="col-12">
        {% include "books/payment/portlet/formset.html" with payment_form=payment_form%}
    </div>
    {% endif %}
</div>

{% endblock content %}
