{% load check_filters %}
{% load check_tags %}
<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">Checklist</h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <ul class="list-group list-group-flush check-list">
            {% for check in checklist %}
            <li class="list-group-item list-group-item-{{ check|level_to_css_classname }}">
                {% render_check check %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>