<div class="kt-portlet__head {% block kt-portlet__head.class %}{{portlet__head_class}}{% endblock %}">
    {% block kt-portlet__head.div %}
        {% block kt-portlet__head-label %}
            {% if portlet__head_label != False %}
                {% if portlet__head_label %}
                    {% include portlet__head_label %}
                {% else %}
              {% include 'kt/portlet__head/label.html' %}
                {% endif %}
            {% endif %}
        {% endblock kt-portlet__head-label %}

        {% block kt-portlet__head-toolbar %}
            {% if portlet__head_toolbar != False %}
                {% if portlet__head_toolbar %}
                    {% include portlet__head_toolbar %}
                {% else %}
              {% include 'kt/portlet__head/toolbar.html' %}
                {% endif %}
            {% endif %}
        {% endblock kt-portlet__head-toolbar %}
    {% endblock kt-portlet__head.div %}
</div>