<!--begin::Portlet-->
<div class="kt-portlet">
    {% block kt-portlet__head %}
    {% include 'kt/portlet__head.html' with label=label icon=icon icon_class=icon_class title=title title_text=title_text toolbar=toolbar menu=menu %}
	{% endblock kt-portlet__head %}

    {% block kt-portlet__body %}
    {% include 'kt/portlet__body.html' with  portlet__content=portlet__content content=content  %}
    {% endblock kt-portlet__body %}

    {% block kt-portlet__foot %}
    {% include 'kt/portlet__foot.html' with class=foot_class small=foot_small foot=foot %}
    {% endblock kt-portlet__foot %}
</div>
<!--end::Portlet-->