<div class="kt-portlet__head">
    {% block kt-portlet__head-label %}
        {% if label != False %}
            {% if label %}
                {% include label with icon=icon title=title %}
            {% else %}
			    {% include 'kt/portlet__head/label.html' with icon=icon title=title %}
            {% endif %}
        {% endif %}
    {% endblock kt-portlet__head-label %}

    {% block kt-portlet__head-toolbar %}
        {% if toolbar != False %}
            {% if toolbar %}
                {% include toolbar with menu=menu %}
            {% else %}
			    {% include 'kt/portlet__head/toolbar.html' with group=group menu=menu %}
            {% endif %}
        {% endif %}
    {% endblock kt-portlet__head-toolbar %}
</div>