<!--begin::Portlet-->
<div class="kt-portlet {% block kt-portlet.class %}{{portlet_class}}{% endblock %}" {% block kt-portlet.attrs %}{{portlet_attrs}}{% endblock %}>
{% block kt-portlet.div %}
    {% block kt-portlet__head %}
        {% if portlet__head != False %}
            {% if portlet__head %}
                {% include portlet__head %}
            {% else %}
                {% include 'kt/portlet__head.html' %}
            {% endif %}
        {% endif %}
    {% endblock kt-portlet__head %}

    {% block kt-portlet__body %}
        {% if portlet__body != False %}
            {% if portlet__body %}
                {% include portlet__body%}
            {% else %}
                {% include 'kt/portlet__body.html' %}
            {% endif %}
        {% endif %}
    {% endblock kt-portlet__body %}

    {% block kt-portlet__foot %}
        {% if portlet__foot != False %}
            {% if portlet__foot %}
                {% include portlet__foot %}
            {% else %}
                {% include 'kt/portlet__foot.html' %}
            {% endif %}
        {% endif %}
    {% endblock kt-portlet__foot %}
{% endblock kt-portlet.div %}
</div>
<!--end::Portlet-->