<div class="kt-portlet__foot {% block kt-portlet__foot.class %}{{portlet__foot_class}}{% endblock %}">
    {% block kt-portlet__foot.div %}
        {% block kt-portlet__foot-wrapper %}
          {% if portlet__foot_wrapper != False %}
              {% if portlet__foot_wrapper %}
                  {% include portlet__foot_wrapper %}
              {% else %}
                  {% include 'kt/portlet__head/wrapper.html' %}
              {% endif %}
          {% endif %}
      {% endblock kt-portlet__foot-wrapper %}
    {% endblock %}
</div>