<div class="kt-portlet__body {% block kt-portlet__body.class %}{{portlet__body_class}}{% endblock %}">
    {% block kt-portlet__body.div %}
        {% block kt-portlet__content %}
            {% if portlet__content != False %}
                {% if portlet__content %}
                    {% include portlet__content %}
                {% else %}
                    {% include 'kt/portlet__content.html' %}
                {% endif %}
            {% endif %}
        {% endblock kt-portlet__content %}
    {% endblock kt-portlet__body.div %}
</div>