{% extends "dkt/_layout.html" %}
{% load static %}

{% block aside-brand-logo %}
    {% url 'books:organization-selector' as books_organization_selector_url %}
    <a href="{{books_organization_selector_url}}">
        <i class="flaticon2-cube" style="font-size:2em;"><span> Home</span></i>
    </a>
{% endblock aside-brand-logo %}

{% block header-topbar-version %}
<div class="kt-header__topbar-item">
    <div class="kt-header__topbar-icon" style="width:auto;">
        <i class="flaticon-add-label-button"><span>Ver.: {{ display_version }}</span></i>

    </div>
</div>

{% endblock header-topbar-version %}

{% block subheader-title %}
    {% if selected_organization %}
    {{selected_organization.display_name}}
    {%else%}
    Home
    {% endif %}
{% endblock subheader-title %}

