{% extends "accounting/base.html" %}

{% load icons %}
{% load bootstrap4 %}

{% block maincontent %}
  {% block nav %}
    {% include "accounting/layout-navbar.html" %}
  {% endblock nav %}

  {% block container %}
  <div class="container-fluid">
    <div class="row">
      {% block sidebar %}
      <div class="col-md-2 border-right sidebar">
        <div class="">
          {% include "accounting/layout-sidebar.html" %}
        </div>
      </div>
      {% endblock sidebar %}
      <main class="col-md-10 ml-sm-auto" role="main">
        {% bootstrap_messages %}
        {% block content %}{% endblock %}
      </main>
    </div>
  </div>
  {% endblock container %}
{% endblock maincontent %}
