{% load icons %}
<header class="navbar navbar-expand-md navbar-light bg-light fixed-top" role="navigation">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mt-2 mt-md-0 mr-auto" >
        <li class="nav-item">
          {% url 'books:organization-selector' as books_organization_selector_url %}
          <a class="nav-link" href="{{books_organization_selector_url}}" >
            {% icon 'home' size="1x" %}
          </a>
        </li>
        {% if selected_organization %}
        <li class="nav-item">
          {% url 'books:dashboard' as books_dashboard_url %}
          <a class="nav-link" href="{{books_dashboard_url}}" >
            {{selected_organization.name}}
          </a>
        </li>
        {% endif %}
      </ul>
      {% url 'connect:getting-started' as getting_started_url %}
      <ul class="navbar-nav mt-2 mt-md-0">
        <li class="nav-item">
          <a class="nav-link" href="{{getting_started_url}}">
            Getting started
          </a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="login-drowpdown-menu-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hello {{ request.user.username }}
          </a>
          <div class="dropdown-menu" aria-labelledby="login-drowpdown-menu-link">
            <a class="dropdown-item" href="{% url 'people:fiscalprofile-detail' request.user.pk %}">Profile</a>
            <a class="dropdown-item" href="{% url 'people:logout' %}">Logout</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'people:login' %}">Log-in</a>
        </li>
        {% endif %}
        <span class="navbar-text">
          Accounting {{ display_version }}
        </span>
      </ul>
    </div>
  </div>
</header>