<div class="kt-portlet__foot-wrapper {% block kt-portlet__foot-wrapper.class %}{{portlet__foot_wrapper_class}}{% endblock %}">
    {% block kt-portlet__foot-wrapper.div %}
        {% block kt-portlet__foot-info %}
            {% if portlet__foot_info != False %}
                {% if portlet__foot_info %}
                    {% include portlet__foot_info %}
                {% else %}
                    {% include 'kt/portlet__foot/info.html' %}
                {% endif %}
            {% endif %}
        {% endblock kt-portlet__foot-info %}

        {% block kt-portlet__foot-toolbar %}
            {% if portlet__foot_toolbar != False %}
                {% if portlet__foot_toolbar %}
                    {% include portlet__foot_toolbar %}
                {% else %}
                    {% include 'kt/portlet__foot/toolbar.html' %}
                {% endif %}
            {% endif %}
        {% endblock kt-portlet__foot-toolbar %}
    {% endblock kt-portlet__foot-wrapper.div %}
</div>