<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon-map-location"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                Bills
                <small>what you owe</small>
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-group">
                <a href="{% url 'books:bill-create' %}" class="btn btn-brand btn-sm btn-elevate" role="button"><i class="fa fa-dollar-sign"></i>Add bill</a>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body kt-portlet__body--fit">
        {% include "books/_sale/table/base.html" with sales=bills hide_edit=hide_edit %}
    </div>
</div>