{% load format_filters %}

<div class="">
  <table class="table table-striped">
    <thead>
      <tr class="">
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Rate (%)</th>
        <th scope="col" class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for tax_rate in tax_rates %}
      <tr class="">
        <td class="">{{ forloop.counter }}</td>
        <td class="">{{ tax_rate.name }}</td>
        <td class="">{{ tax_rate.rate|percentage }}</td>
        <td class="text-right">
          <a href="{% url 'books:contribution_rate-edit' tax_rate.pk %}" class="btn btn-warning btn-sm" role="button">Edit</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
