{% load bootstrap4 %}
<h2 class="page-header">{{title}}</h2>
{{ formset.management_form }}
{{ formset.non_field_errors }}
<table class="table table-striped table-bordered table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Label</th>
      <th scope="col" colspan="2">Description</th>
      <th scope="col">Unit (excl. tax)</th>
      <th scope="col">Qt.</th>
      <th scope="col">Tax rate</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    {% for form in formset %}
    <tr class="formset-form line-formset-form">
      <td class="counter">
        {{ forloop.counter }}
        {{ form.id }}
      </td>
      <td>
        {% bootstrap_field form.label show_label=False %}
      </td>
      <td colspan="2">
        {% bootstrap_field form.description show_label=False %}
      </td>
      <td>
        {% bootstrap_field form.unit_price_excl_tax show_label=False %}
      </td>
      <td>
        {% bootstrap_field form.quantity show_label=False %}
      </td>
      <td>
        {% bootstrap_field form.tax_rate show_label=False %}
      </td>
      <td>
        {{ form.DELETE }}
        <!-- {{ form.DELETE }} -->
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>