{% extends 'kt/portlet_base.html' %}

{% load check_filters %}
{% load check_tags %}

{% block kt-portlet.div %}
    {% with icon_class='flaticon2-checkmark' %}
    {% with title_text='Checklist' %}
    {% with portlet__head_toolbar=False %}
    {% with portlet__foot=False %}
        {{block.super}}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
{% endblock kt-portlet.div %}

{% block kt-portlet__content.div %}
    <ul class="list-group list-group-flush check-list">
        {% for check in checklist %}
        <li class="list-group-item list-group-item-{{ check|level_to_css_classname }}">
            {% render_check check %}
        </li>
        {% endfor %}
    </ul>
{% endblock kt-portlet__content.div %}