{% extends "accounting/layout.html" %}
{% load currency_filters %}

{% block content %}
{% include "accounting/_partials/layout_detail_title.html" with extra=organization.display_name %}
{% include "accounting/people/_partials/address_detail.html" with address=organization.address %}

<div class="row placeholders">
  <div class="col-xs-6 col-sm-3">
    <div class="figure">
      <h4>{{ organization.turnover_excl_tax|currency|default:"-" }}</h4>
      <span class="text-muted">Turnover</span>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3">
    <div class="figure">
      <h4>{{ organization.profits|currency|default:"-" }}</h4>
      <span class="text-muted">Profits</span>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3">
    <div class="figure">
      <h4>{{ organization.tax_provisionning|currency|default:0 }}</h4>
      <span class="text-muted">Tax Provisionning</span>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3">
    <div class="figure">
      <h4>{{ organization.overdue_total|currency|default:0 }}</h4>
      <span class="text-muted">Due payments</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    {% include "accounting/books/_generics/sale_list.html" with sales=invoices hide_edit=True %}
    <a href="{% url 'books:invoice-create' %}" class="btn btn-primary btn-lg" role="button">
      Add an invoice
    </a>
  </div>
  <div class="col-xs-12 col-sm-6">
    {% include "accounting/books/_generics/sale_list.html" with sales=bills hide_edit=True %}
    <a href="{% url 'books:bill-create' %}" class="btn btn-primary btn-lg" role="button">
      Add an bill
    </a>
  </div>
</div>
{% endblock content %}
