{% extends "accounting/layout.html" %}
{% load static %}
{% load bootstrap4 %}
{% load introspection_filters %}
{% load crispy_forms_tags %}
{% load icons %}

{% block head %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block content %}
<h1 class="page-header">
  {% with form|get_form_model_verbose_name as instace_name %}
  {% if form.instance.pk %}
    Update {{instace_name}}
  {% else %}
    Create a {{instace_name}}
  {%endif%}
  {%endwith%}
</h1>

<form action="." method="post" class="form">
  {% csrf_token %}
  {{ form|crispy }}
  
  {% include "accounting/books/_partials/sale_line_inlineformset.html" with formset=line_formset title='Lines' %}
  
  {% include "accounting/books/_partials/sale_contribution_inlineformset.html" with formset=contribution_formset title='Contributions' %}
  
  {% buttons layout='vertical' %}
  <button type="submit" class="btn btn-success">
    {% icon "star" %} Create
  </button>
  {% endbuttons %}
  </form>
{% endblock content %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'accounting/js/jquery.formset.js' %}"></script>
  <script src="{% static 'accounting/js/books/invoice_or_bill_create.js' %}"></script>
{% endblock %}
