{% extends "accounting/layout.html" %}
{% load bootstrap4 %}
{% load introspection_filters %}
{% load icons %}

{% block head %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block content %}
    {% if object.pk %}
        <h1 class="page-header">Edit a {{ form|get_form_model_verbose_name }}</h1>
    {% else %}
        <h1 class="page-header">Create a {{ form|get_form_model_verbose_name }}</h1>
    {% endif %}

    <form action="." method="post" class="form">
      {% csrf_token %}

      {% include "accounting/_partials/form_fields.html" with form=form %}
      {% if form.address_form %}
        {% include "accounting/_partials/form_fields.html" with form=form.address_form %}
      {% endif%}

      {% buttons %}
          <button type="submit" class="btn btn-success">
              {% if object.pk %}
                  {% icon "hand-o-right" %} Save changes
              {% else %}
                  {% icon "thumbs-up" %} Send creation
              {% endif %}
          </button>
      {% endbuttons %}
    </form>
{% endblock content %}
