{% load currency_filters %}
{% load format_filters %}
{% load introspection_filters %}

<div class="card" id="printDiv">
  <div class="card-header">
    <div class="d-flex m-0">
      <h3 class="card-title flex-grow-1">{{object|get_model_verbose_name}} {{extra_suffix}}{{extra}}</h3>
      <div class="card-text">
        <button class="btn btn-secondary btn-sm d-print-none" type="submit" id="doPrint">
          Print
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="d-flex flex-column">
      <div class="d-flex flex-column flex-sm-row justify-content-between">
        <div class="p-2 flex-grow-1">
          {% include "accounting/books/include/sale_from_to_client.html" with from_to='From' client=object.from_client %}
        </div>
        <div class="p-2 flex-grow-1">
          {% include "accounting/books/include/sale_from_to_client.html" with from_to='To' client=object.to_client %}
        </div>
      </div>
      <div>
        {% include "accounting/books/include/sale_dates.html" with lines=lines %}
        {% include "accounting/books/include/sale_lines.html" with lines=lines %}
        {% include "accounting/books/include/sale_contributions.html" with lines=contributions %}
      </div>
    </div>
  </div>
  <div class="card-footer">
    <dl class="row m-0 justify-content-end text-right">
      <dt class="col-auto">Sub Total:</dt>
      <dd class="col-3 col-xl-2">{{object.total_excl_tax|currency }}</dd>
    </dl>
    <dl class="row m-0 justify-content-end text-right">
      <dt class="col-auto">Tax:</dt>
      <dd class="col-3 col-xl-2">{{object.total_tax|currency }}</dd>
    </dl>
    <dl class="row m-0 justify-content-end text-right">
      <dt class="col-auto">Total:</dt>
      <dd class="col-3 col-xl-2">{{object.total_incl_tax|currency }}</dd>
    </dl>
  </div>
</div>
<script language="javascript" type="text/javascript">
  document.getElementById("doPrint").addEventListener("click", function() {
    var printContents = document.getElementById('printDiv').innerHTML;
    var originalContents = document.body.innerHTML;
    document.body.innerHTML = printContents;
    window.print();
    document.body.innerHTML = originalContents;
  });
</script>



