{% extends 'kt/portlet_base.html' %}

{% block kt-portlet.div %}
    {% with portlet__foot=False %}
        {{block.super}}
    {% endwith %}
{% endblock kt-portlet.div %}

{% block kt-portlet__head-title.div %}
     Basic Portlet
{% endblock %}

{% block kt-portlet__head-group.div %}
    <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md"><i class="la la-cog"></i></button>&nbsp;
    <button type="button" class="btn btn-default btn-sm btn-bold btn-upper">Preview</button>
{% endblock %}

{% block kt-portlet__content.div %}
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled. Lorem Ipsum is
    simply dummy text of the printing and typesetting industry. Lorem Ipsum has
    been the industry's standard dummy text ever since the 1500s, when an unknown
    printer took a galley of type and scrambled.
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled. Lorem Ipsum is
    simply dummy text of the printing and typesetting industry.
{% endblock %}
